@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* .corpo {
    
} */

.cabecalho{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    justify-self: start;
}

.img{
    width: 200px;
}

.list{
    justify-self: center;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.item-list{
    color: black;
    text-decoration: none;
}

.principal{

}

.titulo{

}

.cadastro{

}

.formulario{

}

.subTitulo{

}

.input-label{

}

.input{

}

p{
    
}

.btn-subtmit{

}
