.corpo {
  overflow-y: visible;
  overflow-x: hidden;
  cursor: default;
}

.titulo {
  width: 25%;

  margin: 0 auto 25px auto;

  background-color: #fff;
  text-align: center;

  padding: 10px;

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.conteudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.76);
  height: fit-content;
  box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
  margin-bottom: 20px;
}

.pergunta{
    margin-bottom: 14px;
    padding: 9px 11px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.tituloPergunta{
    margin-bottom: 5px;
    text-align: start;
}

.tituloPergunta-1{
    color: #4938be;
}
.tituloPergunta-2{
    color: #cd0e1a;
}

.corpoPergunta-1{
    margin-left: 24px;     
    padding-left: 14px;
    font-size: 1rem;
    border-left: 3px solid #4f46e5;
    line-height: 1.7;
}

.corpoPergunta-2{
    margin-left: 24px;     
    padding-left: 14px;
    font-size: 1rem;
    border-left: 3px solid #cd0e1a;
    line-height: 1.7;
}


