.principal{
  display: flex;
  align-items: center;
  background-image: url("");
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 600px;
}

.sideLeft,
.sideRight {
  flex: 1;
}

.sideLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
}

.paragrafo {
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.welcome {
  font-size: 46px;
  font-weight: 700;
  color: black;
  margin-top: 50px;
}

.azul {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #4938be;
}

.vermelho {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #CF0021;
}

.paragrafo > a {
  text-decoration: none;
  color: #CF0021;
}

.sideRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sideRight img {
  width: 100%;
}
