.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 101px); 
    width: 100%;
    padding-top: 50px;
}

.content{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
}

.sideLeft, .sideRight{
    flex: 1;
}

.sideLeft{

}

.sideLeft img{

}

.sideRight{

}

.paragrafo{

}

.welcome{

}

.paragrafo > a{

}