.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding-block: 20px;
  height: 525px;
  width: 600px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .img{
    margin-bottom: 40px;
}

.titulo {
  color: #4938be;
  font-size: 46px;
  font-weight: 800;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.input-label {
  display: flex;
  flex-direction: column;
  color: #4938be;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
}

.input {
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid #4938be;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(64, 49, 163, 0.5);
}

.btn-submit {
  padding: 10px 20px;
  border-radius: 7px;
  background-color: white;
  color: #4938be;
  border: #4938be solid 1px;
  box-shadow: rgba(74, 56, 190, 0.5) 0px 0px 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #4938be;
  box-shadow: rgba(74, 56, 190, 0.5) 0px 0px 10px;
  color: #fff;
  transition: 0.3s;
}

.link {
  color: #4938be;
  font-size: 16px;
  font-weight: 600;
}

.link:hover {
  text-shadow: rgba(74, 56, 190, 0.3) 0px 0px 10px;
  transform: translateY(-1px);
  transition: transform 0.3s;
}