.corpo {
  overflow-y: visible;
  overflow-x: hidden;
}

.search {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
  gap: 5px;
}

.inputSearch {
  width: 15%;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid black;
}

.search > i {
  font-size: 20px;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 90%;

  gap: 10px;
}

.filtros {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;

  position: sticky;
  top: 20px;
  height: 480px;

  display: flex;
  flex-direction: column;
  align-items: start;
}

#filtroTipo {
  margin-top: 12px;
  padding: 6px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #4938be;
  color: #4938be;
  font-size: 14px;
  cursor: pointer;
}

#filtroTipo:focus {
  border: 2px solid #4938be;
}

#filtroTipo:open {
  border-radius: 10px 10px 0 0;
}

#filtroTipo option:checked {
  background-color: #4938be;
  color: white;
}

.opcaoTipo {
  border: 1px solid #4938be;
}

.opcaoTipo[value = "Estágio"]{
  border-radius: 0 0 10px 10px;
}

.opcaoTipo.selected{
  background-color: #4938be;
}

#listagemVagas {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 10px;

  border-radius: 10px;
}

.card {
  width: 100%;
  height: fit-content;

  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dataPublicacao,
.dataInscricao {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  background: white;
  color: #444;
  font-size: 13px;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: default;
}

.nome {
  cursor: default;
  text-transform: uppercase;
}

.cardTitulo {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 800;
  color: #111;
  cursor: default;
  text-transform: uppercase;
}

.descricao {
  font-size: 14px;
  color: #333;
  margin-top: -4px;
  cursor: default;
}

.tipo,
.salario,
.cidade {
  display: inline-block;
  width: fit-content;

  padding: 10px 18px;
  border-radius: 20px;

  background: rgb(211, 211, 211);
  border: 1px solid #000000;

  color: #1f1f1f;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
  margin-right: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.btn {
  margin-top: 18px;
  align-self: center;

  background-color: black;
  color: white;

  border: none;
  border-radius: 25px;

  padding: 12px 30px;

  font-size: 15px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.detalhes {
  background-color: #fff;
  border: 1px solid #000000;
  color: black;
}
